.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo {
    display: inline-block;
    width: auto;
    height: 2em;
    margin-right: 0.3em;
}

.header__title {
    font-size: 50px;
}