.actorTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
}

.name {
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.as {
  font-size: 10px;
  color: lightgray;
  margin-bottom: 2px;
  margin-top: 2px;
}
