@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #E2E3E0;
  font-size: 0.9em;
}

.container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
